:root {
   --bg: rgb(5, 5, 5);
   --text: rgb(200, 200, 200);
}

@font-face {
   font-family: CourierPolski;
   src: url(assets/courier_polski_1941/zai_CourierPolski1941.woff2);
}

@font-face {
   font-family: CourierPolski_i;
   src: url(assets/courier_polski_1941/zai_CourierPolski1941_i.woff2);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    display: grid;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header"
        "content";
}

header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    align-items: center;
    grid-area: header;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

header > h1 {
    margin: 0;
}

.band-name-stylized > a {
    text-decoration: none;
    color: inherit;
}

main {
    grid-area: content;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

nav > ul > li {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    line-height: 100px; /* quite ugly, must be same as navbar height!! */
    margin-inline: 10px;
}

.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: orangered;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.current {
    color: orange;
}

.members {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
}


.members > div > img {
    width: 100%;
    height: auto;
}

.band-name-stylized {
   font-family: CourierPolski_i;
   white-space: nowrap
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    display: none;
}

.album-list {
    display: grid;
    grid-auto-rows: auto;
}

.album-label {
    margin: 5px;
    padding: 20px;
    margin-top: 0px;
    background-color: rgb(25, 25, 25);
}

.song-list {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    margin-bottom: 30px;
}

.song-list > li {
    margin-inline: 5px;
    margin-block: 5px;
    padding: 10px;
    background-color: rgb(20, 20, 20);
}

.album-list > div {
    display: grid;
    grid-template-columns: 250px 2fr;
}

.cover-art {
    background-color: brown;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}

.album-list * .song-list {
    display: none;
}

.album-list * input:checked ~ .song-list {
    display: block;
}
